body{
  background-image: linear-gradient(180deg,rgba(93, 76, 185, 0.3)0%,rgba(132, 75, 185, 0.8)100%);
    width:auto;
    display: flex;
    flex-direction: column;
    justify-content: center; /*centers items on the line (the x-axis by default)*/
    align-items: center;
    height: 100vh;
}

h1{
  color:white;
  font-weight: bolder;
  text-align: left;
  color: rgba(233, 233, 135, 0.993);
}

.container{
    height: 100px;
    width:500px;
    background-image: linear-gradient(180deg,rgba(231, 238, 222, 0.733),rgba(229, 225, 233, 0.87));
    text-align: center;
    border:0;
    border-radius: 5px;
   
}

.input_box{
  margin-top:30px;
  padding: 10px 20px;
  width:50%;
  border:0;
  border-radius: 5px;

}
.submit_button{
  background-color: rgba(233, 233, 135, 0.993);
  width:20%;
  padding:10px 4px;
  margin-left: 10px;
  border:0;
  border-radius: 5px;

}